<div id="searchResultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;"  ng-controller="UserSearchCtrl">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><img height="60px" width="60px" src="/images/search-logo.png" />查找</h4>
      </div>
      <div class="modal-body">
        <p id="resultTitle">用户不存在</p>
        <div ng-show="userExist">
          <img height="32px" width="32px" src="{{userExist.avatarUrl}}" title="{{userExist.username}}" class="img-circle" />
          &nbsp&nbsp&nbsp&nbsp{{userExist.username}}
          <button type="button" class="btn btn-success" ng-click="sendApplyForFriend()" style="float:right;"><i class="glyphicon glyphicon-plus"></i>&nbsp&nbsp添加好友</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel panel-default user-list">
    <div class="panel-heading user-list-header">好友列表</div>
    <div class="panel-body user-list-content">
      <div ng-repeat="group in groupArray track by $index">
        <div class="panel-group" id="accordion{{$index}}" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{$index}}">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion{{$index}}" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}">
                  {{group[0].groupname}}
                </a>
              </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
              <div class="list-group">
                <div class="list-group-item" ng-repeat="friend in group track by $index" ng-show="friend.guest">
                  <img height="32px" width="32px" src="{{friend.avatarUrl}}" title="{{friend.guest}}" class="img-circle" />
                  {{friend.guest}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Collapsible Group Item #1
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit</div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="panel-footer">
      <div class="input-group" ng-controller="UserSearchCtrl">
        <input type="text" required class="form-control" ng-model="searchUsername" placeholder="查找用户" />
        <span class="input-group-addon" ng-click="search()"><span class="glyphicon glyphicon-search"></span></span>
      </div>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="panel panel-default room">
    <div class="panel-heading room-header">webchat</div>
    <div class="panel-body room-content">
      <div class="list-group messages" auto-scroll-to-bottom>
        <div class="list-group-item message" ng-repeat="message in room.messages track by $index">
          <img height="32px" width="32px" ng-src="{{message.creator.avatarUrl}}" title="{{message.creator.name}}" class="img-circle" />
          {{message.creator.name}}：{{message.message}}
          <time am-time-ago="message.createAt"></time>
        </div>
      </div>
      <form class="message-creator" ng-controller="MessageCreatorCtrl">
        <div class="form-group">
          <textarea required class="form-control message-input" ng-model="newMessage" ctrl-enter-break-line="createMessage()" placeholder="Ctrl+Enter to quick send"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
